In [21]:
import ibm_db

In [22]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [23]:
%sql ibm_db_sa://yjc26091:Wr2esVkDXIPH7t16@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB?security=SSL

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [24]:
%%sql 
select count(*) from crime_chicago

 * ibm_db_sa://yjc26091:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [25]:
%%sql
select community_area_name from census_data where per_capita_income < 11000

 * ibm_db_sa://yjc26091:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [26]:
%%sql
SELECT * FROM CRIME_CHICAGO WHERE DESCRIPTION LIKE '%MINOR%';

 * ibm_db_sa://yjc26091:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[(3987219, 'HL266884', '31-03-2005', '024XX N CLARK ST', '2210', 'LIQUOR LAW VIOL', 'SELL/GIVE/DEL LIQUOR TO MINOR', 'CONVENIENCE STORE', 'TRUE', 'FALSE', 2333, 19, 43, 7, '22', 1172680, 1916483, 2005, Decimal('41.92626872'), Decimal('-87.64089934'), '(41.926268719, -87.640899336)'),
 (3266814, 'HK238408', '13-03-2004', '093XX S STONY ISLAND AVE', '2230', 'LIQUOR LAW VIOL', 'ILLEGAL CONSUMPTION BY MINOR', 'ALLEY', 'TRUE', 'FALSE', 413, 4, 8, 48, '22', 1188539, 1843379, 2004, Decimal('41.72530099'), Decimal('-87.58496589'), '(41.72530099, -87.584965887)')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [27]:
%%sql
SELECT * FROM CRIME_CHICAGO WHERE PRIMARY_TYPE LIKE '%KIDNAP%'

 * ibm_db_sa://yjc26091:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[(5276766, 'HN144152', '26-01-2007', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [28]:
%%sql
SELECT DESCRIPTION FROM CRIME_CHICAGO WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%'

 * ibm_db_sa://yjc26091:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[('SIMPLE',),
 ('PRO EMP HANDS NO/MIN INJURY',),
 ('SIMPLE',),
 ('SIMPLE',),
 ('SIMPLE',),
 ('TO VEHICLE',),
 ('POSS: HEROIN(WHITE)',),
 ('MANU/DEL:CANNABIS 10GM OR LESS',),
 ('PRO EMP HANDS NO/MIN INJURY',),
 ('TO LAND',),
 ('BOMB THREAT',),
 ('BOMB THREAT',)]

### Problem 6

##### List the average safety score for all types of schools.

In [29]:
%%sql
SELECT AVG(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://yjc26091:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[(49,)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [30]:
%%sql
select community_area_name from census_data order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc limit 5

 * ibm_db_sa://yjc26091:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[('Riverdale',),
 ('Fuller Park',),
 ('Englewood',),
 ('North Lawndale',),
 ('East Garfield Park',)]

### Problem 8

##### Which community area is most crime prone?

In [31]:
%%sql
select community_area_number, count(*) as frequency from crime_chicago group by community_area_number order by frequency desc limit 1

 * ibm_db_sa://yjc26091:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[(25, 43)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [32]:
%%sql
SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA where hardship_index in (select MAX(hardship_index) from census_data)

 * ibm_db_sa://yjc26091:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[('Riverdale',)]