In [46]:
import ibm_db

In [47]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [48]:
%sql ibm_db_sa://yjc26091:Wr2esVkDXIPH7t16@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB?security=SSL

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [105]:
%%sql 
select count(*) from crime_chicago

 * ibm_db_sa://yjc26091:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [50]:
%%sql
select community_area_name from census_data where per_capita_income < 11000

 * ibm_db_sa://yjc26091:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [59]:
%%sql
SELECT * FROM CRIME_CHICAGO WHERE DESCRIPTION LIKE '%MINOR%';

 * ibm_db_sa://yjc26091:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[(3987219, 'HL266884', '31-03-2005', '024XX N CLARK ST', '2210', 'LIQUOR LAW VIOL', 'SELL/GIVE/DEL LIQUOR TO MINOR', 'CONVENIENCE STORE', 'TRUE', 'FALSE', 2333, 19, 43, 7, '22', 1172680, 1916483, 2005, Decimal('41.92626872'), Decimal('-87.64089934'), '(41.926268719, -87.640899336)'),
 (3266814, 'HK238408', '13-03-2004', '093XX S STONY ISLAND AVE', '2230', 'LIQUOR LAW VIOL', 'ILLEGAL CONSUMPTION BY MINOR', 'ALLEY', 'TRUE', 'FALSE', 413, 4, 8, 48, '22', 1188539, 1843379, 2004, Decimal('41.72530099'), Decimal('-87.58496589'), '(41.72530099, -87.584965887)')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [56]:
%%sql
SELECT * FROM CRIME_CHICAGO WHERE PRIMARY_TYPE LIKE '%KIDNAP%'

 * ibm_db_sa://yjc26091:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[(5276766, 'HN144152', '26-01-2007', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [63]:
%%sql
SELECT DESCRIPTION FROM CRIME_CHICAGO WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%'

 * ibm_db_sa://yjc26091:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[('SIMPLE',),
 ('PRO EMP HANDS NO/MIN INJURY',),
 ('SIMPLE',),
 ('SIMPLE',),
 ('SIMPLE',),
 ('TO VEHICLE',),
 ('POSS: HEROIN(WHITE)',),
 ('MANU/DEL:CANNABIS 10GM OR LESS',),
 ('PRO EMP HANDS NO/MIN INJURY',),
 ('TO LAND',),
 ('BOMB THREAT',),
 ('BOMB THREAT',)]

### Problem 6

##### List the average safety score for all types of schools.

In [64]:
%%sql
SELECT AVG(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://yjc26091:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[(49,)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [79]:
%%sql
select community_area_name from census_data order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc limit 5

 * ibm_db_sa://yjc26091:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[('Riverdale',),
 ('Fuller Park',),
 ('Englewood',),
 ('North Lawndale',),
 ('East Garfield Park',)]

### Problem 8

##### Which community area is most crime prone?

In [103]:
%%sql
select community_area_number, count(COMMUNITY_AREA_NUMBER) from crime_chicago group by community_area_number

 * ibm_db_sa://yjc26091:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[(1, 6),
 (2, 7),
 (3, 4),
 (4, 3),
 (5, 4),
 (6, 11),
 (7, 5),
 (8, 15),
 (10, 3),
 (11, 2),
 (12, 1),
 (14, 5),
 (15, 5),
 (16, 8),
 (17, 3),
 (18, 2),
 (19, 8),
 (20, 3),
 (21, 6),
 (22, 9),
 (23, 22),
 (24, 13),
 (25, 43),
 (26, 10),
 (27, 8),
 (28, 16),
 (29, 16),
 (30, 8),
 (31, 9),
 (32, 7),
 (33, 1),
 (35, 5),
 (37, 2),
 (38, 8),
 (39, 4),
 (41, 2),
 (42, 8),
 (43, 9),
 (44, 8),
 (45, 4),
 (46, 9),
 (47, 1),
 (48, 5),
 (49, 11),
 (50, 3),
 (51, 4),
 (52, 2),
 (53, 6),
 (54, 2),
 (55, 1),
 (56, 2),
 (58, 10),
 (59, 2),
 (60, 1),
 (61, 10),
 (62, 4),
 (63, 7),
 (64, 2),
 (65, 3),
 (66, 12),
 (67, 12),
 (68, 21),
 (69, 11),
 (70, 8),
 (71, 14),
 (72, 4),
 (73, 3),
 (75, 1),
 (76, 4),
 (77, 2),
 (None, 0)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [90]:
%%sql
SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA where hardship_index in (select MAX(hardship_index) from census_data)

 * ibm_db_sa://yjc26091:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [106]:
%%sql
select community_area_number, count(COMMUNITY_AREA_NUMBER) from crime_chicago group by community_area_number

 * ibm_db_sa://yjc26091:***@55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31929/BLUDB
Done.

[(1, 6),
 (2, 7),
 (3, 4),
 (4, 3),
 (5, 4),
 (6, 11),
 (7, 5),
 (8, 15),
 (10, 3),
 (11, 2),
 (12, 1),
 (14, 5),
 (15, 5),
 (16, 8),
 (17, 3),
 (18, 2),
 (19, 8),
 (20, 3),
 (21, 6),
 (22, 9),
 (23, 22),
 (24, 13),
 (25, 43),
 (26, 10),
 (27, 8),
 (28, 16),
 (29, 16),
 (30, 8),
 (31, 9),
 (32, 7),
 (33, 1),
 (35, 5),
 (37, 2),
 (38, 8),
 (39, 4),
 (41, 2),
 (42, 8),
 (43, 9),
 (44, 8),
 (45, 4),
 (46, 9),
 (47, 1),
 (48, 5),
 (49, 11),
 (50, 3),
 (51, 4),
 (52, 2),
 (53, 6),
 (54, 2),
 (55, 1),
 (56, 2),
 (58, 10),
 (59, 2),
 (60, 1),
 (61, 10),
 (62, 4),
 (63, 7),
 (64, 2),
 (65, 3),
 (66, 12),
 (67, 12),
 (68, 21),
 (69, 11),
 (70, 8),
 (71, 14),
 (72, 4),
 (73, 3),
 (75, 1),
 (76, 4),
 (77, 2),
 (None, 0)]

Copyright © 2020 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2021-11-17 | 2.6     | Lakshmi           | Updated library                                |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>